.demo-content1{
    padding: 15px;
    font-size: 18px;
    background: orange;
    margin-bottom: 15px;
}


.demo-content2{
    padding: 15px;
    font-size: 18px;
    background: white;
    margin-bottom: 15px;
}

.demo-content3{
    padding: 15px;
    font-size: 18px;
    background: green;
    margin-bottom: 15px;
}


